<form class="form-horizontal" role="form" id="signInForm" name="signInForm" ng-controller="SignInFormController" ng-submit="submit()">
  <div class="form-group" ng-class="{'has-error': !signInForm.inputUsername.$valid && !signInForm.inputUsername.$pristine}">
    <label for="inputUsername" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputUsername" name="inputUsername" placeholder="Username" ng-model="user.username" required ng-trim ng-pattern="word">
      <span id="spanUsernameRequired" class="text-danger" ng-show="signInForm.inputUsername.$error.required && !signInForm.inputUsername.$pristine">Required!</span>
      <span id="spanUsernamePattern" class="text-danger" ng-show="signInForm.inputUsername.$error.pattern">Single word only!</span>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-error': !signInForm.inputPassword.$valid && !signInForm.inputPassword.$pristine}">
    <label for="inputPassword" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" ng-model="user.password" required ng-pattern="word">
      <span class="text-danger" ng-show="signInForm.inputPassword.$error.required && !signInForm.inputPassword.$pristine">Required!</span>
      <span class="text-danger" ng-show="signInForm.inputPassword.$error.pattern">Single word only!</span>      
    </div>
  </div>
  <!-- <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
<pre>loginAttempts={{loginAttempts}}</pre>  
</form>
